.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 90px;
}

/* Add background color to the menu icons */
.nav-mob-open,
.nav-mob-close {
  background-color: #728594;
  /* Background color for menu icons */
  padding: 10px;
  /* Added padding */
  border-radius: 5px;
  /* Added border radius */
}

.nav-logo {
  width: 150px;
  height: 140px;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 20px;
  list-style: none;
}

.nav-connect {
  padding: 20px 40px;
  border-radius: 50px;
  background: linear-gradient(#45779a, #FFF8F3);
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu p {
  margin: 0;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
}

.nav-menu p.active,
.nav-menu p:hover {
  color: #1182d3;
}

.nav-menu p.active::after,
.nav-menu p:hover::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #1182d3;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.nav-menu p::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.nav-menu li {
  cursor: pointer;
}

.anchor-link {
  text-decoration: none;
}

/* Mobile Styles */
.nav-mob-open,
.nav-mob-close {
  display: none;
  cursor: pointer;

}

.nav-mob-open {
  display: block;
}

.nav-mob-close {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav-menu.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 1rem 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-menu li {
  padding: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #728594;
    ;
    position: absolute;
    top: 60px;
    left: 0;
    max-height: 0;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-menu.open {
    display: flex;
    max-height: 300px;
    /* Adjust as needed */
  }

  .nav-mob-open {
    display: block;
  }

  .nav-mob-close {
    display: block;
    align-self: flex-end;
    margin: 1rem;
  }
}